@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

:root{
  --primary-color: #CCB26E;
  --accent-color: #FF5C00;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #424242;
  font-family: 'Oswald', sans-serif;
  color: #333333;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.cont {
  max-width: 1024px;
  margin: 0 auto;
}

.elements-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Checkboxes */
.element--checkboxes {
  max-width: 310px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
}

.checkboxes__title {
  margin-bottom: 20px;
}

.checkboxes__item:not(:last-child) {
  margin-bottom: 20px;
}

.checkbox-cont__label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox-cont__label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid #999999;
  border-radius: 3px;
}

.checkbox-cont__label::after {
  content: '';
  position: absolute;
  height: 7px;
  width: 3px;
  left: 7px;
  top: 5px;
  transform: rotate(45deg);
}

.checkbox-cont__checkbox:checked +
.checkbox-cont__label::before {
  border-color: var(--primary-color);
}

.checkbox-cont__checkbox:focus +
.checkbox-cont__label::before {
  border-color: var(--primary-color);
}

.checkbox-cont__checkbox:checked +
.checkbox-cont__label::after {
  border-bottom: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
}

/* Select */
.element--select {
  min-width: 176px;
}

.choices[data-type*=select-one]::after {
  content: "";
  position: absolute;
  right: 17.5px;
  top: 50%;
  height: 8px;
  width: 8px;
  margin-top: -6px;
  border-style: solid;
  border-width: 1px;
  border-color: #666666;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
  pointer-events: none;
  z-index: 3;
}

.choices[data-type*=select-one].is-open::after {
  margin-top: -2px;
  border-color: var(--primary-color);
  transform: rotate(-135deg);
}

.choices__list--single {
  padding: 0;
}

*[data-value="Материал"][role="option"]{
  display: none;
}

.choices__inner,
.is-open .choices__inner {
  position: relative;
  min-height: 0;
  padding: 6px 15px 14px 15px;
  border-radius: 10px;
  z-index: 2;
}

.is-focused .choices__inner,
.is-open .choices__inner {
  border-color: var(--primary-color);
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown,
.is-open .choices__list--dropdown,
.is-flipped .choices__list--dropdown {
  padding-top: 8px;
  transform: translateY(-8px);
  border: 1px solid var(--primary-color);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.choices__list--dropdown .choices__item--selectable {
  padding: 10px 15px;
}
.choices__list--dropdown
.choices__list {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Map */
.map-cont {
  width: 460px;
  height: 460px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

/* Scroll */
.scroll-cont {
  width: 399px;
  height: 310px;
  padding: 20px 30px;
  background-color: #fff;
  overflow: auto;
}

.simplebar-scrollbar::before {
  background-color: var(--primary-color);
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

/* Form */
.form {
  width: 440px;
  padding: 40px 30px;
  padding-top: 21px;
  background-color: #000000;
  border-radius: 10px;
}

.form__input-conts {
  margin-bottom: 30px;
}

.input-cont:not(:last-child) {
  margin-bottom: 15px;
}

.form__label {
  margin-left: 20px;
  margin-bottom: 5px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 12px;
}

.form__input {
  width: 100%;
  padding: 25px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 10px;
  font-size: 16px;
}

.form__submit {
  padding: 19px 53px;
  border: none;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* Tooltip */
.tooltip-text {
  display: inline-block;
  width: 375px;
  padding: 20px 30px;
  padding-right: 78px;
  background-color: #fff;
}

.tooltip-button {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
}

.tooltip-button {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.tooltip-button:hover
.tooltip-button__img
path {
  fill: var(--primary-color);
}

.tippy-box[data-theme~='default'] {
  padding: 7px 15px;
  background-color: #666666;
  border-radius: 0;
}

.tippy-box[data-theme~='default'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #666666;
}
