@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local(Roboto),
       url('../fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff'),
       url('../fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local(Roboto),
       url('../fonts/roboto-v29-latin_cyrillic-700.woff') format('woff'),
       url('../fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2');
}

:root {
  --primary-color: #3F2AFF;
  --secondary-color: #2F2C45;
  --gray6: #666666;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 16px;
  line-height: 20.8px;
}

body {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.625rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

p {
  margin: 0;
}

/* Header */
.header {
  padding: 25px 0px;
  background-color: var(--primary-color);
}

.mobile-menu-cont {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.header__mobile-menu-cont {
  height: 30px;
  margin-left: auto;
}

.header__mobile-menu-button {
  width: 30px;
  height: 30px;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  padding: 25px 15px;
  background-color: var(--secondary-color);
  color: #fff;
}

.mobile-menu--is-active {
  display: block;
}

.mobile-menu__close-button {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-bottom: 22px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 56px;
}

.mobile-menu__item-link {
  font-size: 1.125rem;
  line-height: 21.09px;
}

/* Section */

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Hero */
.section--hero {
  background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
  color: #fff;
}

.hero__title {
  margin-bottom: 5px;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.875rem;
}

.hero__text-content {
  margin-bottom: 44px;
}

.hero__action-button {
  padding: 20px 55px;
  background: var(--primary-color);
  border-radius: 20px;
  color: #fff;
}

/* Advantages */
.advantages__info-cont {
  margin-bottom: 22px;
}

.advantages__title {
  margin-bottom: 3px;
}

.advantages__desc {
  color: var(--gray6);
  line-height: 1.5rem;
}

.advantages__card:not(:last-child) {
  margin-bottom: 30px;
}

.advantages__card {
  display: flex;
}

.advantages__card-img {
  margin-right: 30px;
}

.advantages__card-desc {
  font-weight: 700;
  line-height: 1.2rem;
  color: var(--gray6)
}

/* Teachers */
.section--teachers {
  background-color: var(--secondary-color);
}

.teachers__title {
  color: #fff;
  line-height: 1rem;
  margin-bottom: 28px;
}

.teachers__list {
  margin-bottom: -30px;
}

.teachers__card {
  color: #fff;
  margin-bottom: 21px;
}

.teacher__img {
  width: 100%;
  margin-bottom: 30px;
}

.teacher__title {
  margin-bottom: 10px;
}

.teacher__desc {
  opacity: 0.5;
  line-height: 1.5rem;
}
